mixin breadcrumbs(active, ...items)
  ol.breadcrumb
    li
      a(href=appPath()) Resources
    if active
      each item in items
        li
          a(href=item.path)!= item.name
      li.active= active
