#deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#exampleModalLabel.modal-title Confirm Delete
      .modal-body
        input(type="hidden")
        p 
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-danger(type='button') Delete