script(src='/javascripts/jquery.sheepItPlugin-1.1.1.js')
script(type='text/javascript').
  var local_data = !{(data && data.properties) ? JSON.stringify(data.properties) : "[]"};

  var toggleComputed = function(){
    var index = this.id.split("_")[1];
    if(this.checked){
      $('#properties_'+index+'_equation_container').show();
      $('#properties_'+index+'_default_container').hide();
    }else{
      $('#properties_'+index+'_equation_container').hide();
      $('#properties_'+index+'_default_container').show();
    }
  }

  $(document).ready(function() {
    var properties = $('#properties').sheepIt({
        separator: '',
        allowRemoveLast: true,
        allowRemoveCurrent: true,
        allowRemoveAll: false,
        allowAdd: true,
        allowAddN: false,
        //maxFormsCount: 10,
        minFormsCount: 1,
        iniFormsCount: 1,
        afterAdd: function(source, newForm) {
          $(newForm).find("input[type=checkbox]").click(toggleComputed);
        }
    });

  });

#properties
  #properties_noforms_template
    p No Properties
  #properties_template
    div.form-element
      label Name
        input(type='text', id='properties_#index#_name', name='properties[#index#][name]')
    div.form-element
      label Type
        select(id='properties_#index#_name', name='properties[#index#][type]')
          option
          each val in PropertyTypes
            option(value=val.id)= val.name
    div.form-element
      label Computed
        input(type='checkbox', id='properties_#index#_computed', name='properties[#index#][computed]', value="true")
    div.form-element.hidden(id='properties_#index#_equation_container' style='display:none')
      label Equation
        input(type='text', id='properties_#index#_equation', name='properties[#index#][equation]')
    div.form-element(id='properties_#index#_default_container')
      label Default
        input(type='text', id='properties_#index#_default', name='properties[#index#][default]')
    div.clear
  #properties_controls
    #properties_add
      button Add Property
    #properties_remove_last
      button Remove Last