extends layout

block head


block content
  h1= ResourceDefinition.display
    |  
    a.btn.btn-primary(href="./edit")
      span.glyphicon.glyphicon-pencil(aria-hidden="true")
      |  Edit
  table.table
    each property in Resource.properties
      tr
        th= property.name
        td= property.value
