extends layout

include components/breadcrumb

block head
  script.
    function slugify(text){
      return text.toLowerCase().trim().replace(/ /g,'-').replace(/[^\w-]+/g,'').replace(/--+/g,'-')
    }

    $(function () {
      $('[data-toggle="popover"]').popover();
      $("#name").on('change',function(e){
        var val = $("#name").val();
        var previous = $("#name").data('previous');
        
        if(previous !== undefined)
        {
          var current_slug = $("#urn").val();
          if(current_slug === slugify(previous)){
            $("#urn").val(slugify(val));
          }
        }else{
          $("#urn").val(slugify(val));
        }

        $("#name").data('previous', val);
      });
    })
block headline
  +breadcrumbs("New")

  h1 New Resource Definition

block content
  div
    form(method="post")
      div.form-group
        input.form-control(type="text", id="name", name="name", placeholder="Name", required)
      div.form-group
        input.form-control(type="text", id="urn", name="urn", placeholder="URN", pattern="[a-z0-9-]+", title="a-z, 0-9, or hyphens (-)", required)
      div.form-group
        input.form-control(type="text", name="description", placeholder="Description")

      h3 Permissions

      include components/permission_add.jade

      h3 Properties
     
      include components/property_definition_add.jade
      
      div.form-group
        label
          | Item View 
          span.glyphicon.glyphicon-info-sign(tabindex='0' data-toggle="popover" data-placement="right" data-trigger="focus" title="Resource View" data-content="This is a template for rendering individual resources in a list. Use double curly braces around a property name and the named property value will be substituted.")
        input.form-control(type="text", name="view", placeholder="{{property name}}", required)
      
      #submit
        div.form-group
          input.form-control.btn.btn-primary(type="submit", value="Create")