extends layout

block head


block content
  h1= ResourceDefinition.display
    |  
    a.btn.btn-primary(href="./new")
      span.glyphicon.glyphicon-plus(aria-hidden="true")
      |  #{ResourceDefinition.display}
  if Resources.length > 0
    div.list-group
      each val in Resources
        a.list-group-item(href='/resources/' + ResourceDefinition.name + '/' + val.id + '/')= val.template
    a.btn.btn-primary(href="./new")
      span.glyphicon.glyphicon-plus(aria-hidden="true")
      |  #{ResourceDefinition.display}
  else
    p
      | *** No Resources found. ***
