extends layout

block head


block content
  h1 Resources
  ul
    each val in ResourceDefinitions
      li
        a(href='/resources/' + val.id)= val.name
  hr
  h2 Add Resource
  div
    form(method="post")
      #resource
        div.form-element
          label Name
            input(type="text", name="name")
        div.form-element
          label Short Name
            input(type="text", name="shortname")
        div.clear
      h3 Properties
      include propertyDefinition_add.jade
      #submit
        input(type="submit")