extends layout

include components/breadcrumb
include components/buttons

block head

block headline
  +breadcrumbs(Resource.cache,
    {
      'name': ResourceDefinition.name,
      'path': appPath(ResourceDefinition.urn)
    })

  h1!= Resource.cache
    |  
    +button_edit( appPath(ResourceDefinition.urn, Resource.id) )

block content
  table.table
    each property in Resource.properties
      tr
        th= property.name
        td!= property.cache
