extends layout

block head
  script.
    function slugify(text){
      return text.toLowerCase().trim().replace(/ /g,'-').replace(/[^\w-]+/g,'').replace(/--+/g,'-')
    }

    $(function () {
      $('[data-toggle="popover"]').popover();
      $("#display").on('change',function(e){
        var val = $("#display").val();
        var previous = $("#display").data('previous');
        
        if(previous !== undefined)
        {
          var current_slug = $("#name").val();
          if(current_slug === slugify(previous)){
            $("#name").val(slugify(val));
          }
        }else{
          $("#name").val(slugify(val));
        }

        $("#display").data('previous', val);
      });
    })
block headline
  h1 New Resource Definition

block content
  div
    form(method="post")
      #resource
        div.form-group
          input.form-control(type="text", id="display", name="display", placeholder="Display Name", required)
        div.form-group
          input.form-control(type="text", id="name", name="name", placeholder="Name", pattern="[a-z0-9-]+", title="a-z, 0-9, or hyphens (-)", required)
        div.form-group
          input.form-control(type="text", name="description", placeholder="Description")
        div.form-group
          label
            | View 
            span.glyphicon.glyphicon-info-sign(tabindex='0' data-toggle="popover" data-placement="right" data-trigger="focus" title="Resource View" data-content="This is a template for rendering individual resources in a list. Use double curly braces around a property name and the named property value will be substituted.")
          input.form-control(type="text", name="view", placeholder="{{property name}}", required)
        div.clear
      h3 Properties
      
      include components/property_definition_add.jade
      
      #submit
        div.form-group
          input.form-control.btn.btn-primary(type="submit", value="Create")