extends layout

include components/buttons

block head

block headline
  h1!= Resource.cache
    |  
    +button_edit("./edit")

block content
  table.table
    each property in Resource.properties
      tr
        th= property.name
        td!= property.cache
