extends layout

block head

block headline
  h1= Resource.text
    |  
    a.btn.btn-primary(href="./edit")
      span.glyphicon.glyphicon-pencil(aria-hidden="true")
      |  Edit

block content
  table.table
    each property in Resource.properties
      tr
        th= property.name
        td= property.value
