extends layout

block head
  meta(http-equiv="refresh" content="2;URL=/resources/#{ResourceDefinition.name}/")

block headline
  h1 Resource Definition Created/Updated

block content
  p Redirecting to Resource Definition list