extends layout

block head
  script(src='/javascripts/jquery.sheepItPlugin-1.1.1.js')
  script(type='text/javascript').
    var local_data = !{(data && data.properties) ? JSON.stringify(data.properties) : "[]"};

    $(document).ready(function() {
      var properties = $('#properties').sheepIt({
          separator: '',
          allowRemoveLast: true,
          allowRemoveCurrent: true,
          allowRemoveAll: false,
          allowAdd: true,
          allowAddN: false,
          maxFormsCount: 10,
          minFormsCount: 1,
          iniFormsCount: 1
      });
    });

block content
  h1 Resources
  ul
    each val in ResourceDefinitions
      li
        a(href=val.name)= val.name
  h2 Add Resource
  div
    form(method="post")
      #resource
        div.form-element
          label Name
            input(type="text", name="name")
        div.form-element
          label Short Name
            input(type="text", name="shortname")
        div.clear
      h2 Properties
      #properties
        #properties_noforms_template
          p No Properties
        #properties_template
          div.form-element
            label Name
              input(type='text', id='properties_#index#_name', name='properties[#index#][name]')
          div.form-element
            label Type
              select(id='properties_#index#_name', name='properties[#index#][type]')
                option
                option Number
                option Text
                option Url
          div.clear
        #properties_controls
          #properties_add
            button Add Property
          #properties_remove_last
            button Remove Last
      #submit
        input(type="submit")