extends layout

block head


block content
  h1 Resources 
    a.btn.btn-primary(href="./new")
      span.glyphicon.glyphicon-plus(aria-hidden="true")
      |  Resource
  div.container
  if ResourceDefinitions.length > 0
    ul.list-group
      each val in ResourceDefinitions
        li.list-group-item
          a(href='/resources/' + val.name + "/")= val.display
    a.btn.btn-primary(href="./new")
      span.glyphicon.glyphicon-plus(aria-hidden="true")
      |  Resource
  else
    p
      | *** No Resource Definitions found. ***
  